<!-- <section id="populares" class="text-center">
    <div class="container">
        <div class="row">
            <div class="foto">
                <div class="texto">
                    <h1>Lo más vendido</h1>
                </div>
            </div>
            <div class="productos">
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="productos">
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
                <div class="producto">
                    <div class="imgBox">
                        <img src="/assets/img/fondo3.jpg" alt="">
                    </div>
                    <div class="contenido-texto-card">
                        <h4>Control</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button>añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section id="popular">
    <div id="products" *ngFor="let product of products; let i = index">
        <div *ngIf="i < 4">
            <mat-card class="card">
                <img mat-card-image [src]="product.images[0].url_image">
                <div id="info">
                    <mat-card-header>
                        <mat-card-title>{{ product.str_name }}</mat-card-title>
                        <strong>Q. {{ product.int_price }}</strong>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" (click)="addToCart()">
                            <mat-icon>add_shopping_cart</mat-icon>
                            Agregar al carrito
                        </button>
                        <button mat-raised-button color="primary" [routerLink]="['/products', product.id]">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            Ver detalle
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</section>