.item > a {
  padding: 15px;
  text-decoration: none;
  color: #000000;
}
.item > a.active {
  background-color: #24fb7b;
  border-radius: 8px;
}

.text-center {
  text-align: center;
}
#Logo {
  background-color: black;
}
#Logo .container .row .logo-card {
  padding: 15px 0;
}
#Logo .container .row .logo-card img {
  height: 80px;
  margin: 0;
  padding: 0;
}

/*---- Nav ----*/
#menu {
  background-color: #24fb7b;
  height: auto;
  .container {
    height: auto;
    .row {
      height: auto;
      margin: auto 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .item {
        min-width: 75px;
        max-height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 50px;
          z-index: 2;
        }
        a {
          text-decoration: none;
          font-family: var(--fontcontent);
          color: black;
          font-weight: 1000;
        }
      }
    }
  }
}
