.item > a {
  padding: 15px;
  text-decoration: none;
  color: #000000;
}
.item > a.active {
  background-color: #24fb7b;
  border-radius: 8px;
}

.text-center {
  text-align: center;
}
#Logo {
  background-color: black;
}
#Logo .container .row .logo-card {
  padding: 15px 0;
}
#Logo .container .row .logo-card img {
  height: 80px;
  margin: 0;
  padding: 0;
}

/*---- Nav ----*/
#menu {
  background-color: #24fb7b;
  height: auto;
  .container {
    height: auto;
    .row {
      height: auto;
      margin: auto 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .item {
        min-width: 75px;
        max-height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 50px;
          z-index: 2;
        }
        a {
          text-decoration: none;
          font-family: var(--fontcontent);
          color: black;
          font-weight: 1000;
        }
      }
    }

    .floating-btn {
      width: 80px;
      height: 80px;
      background-color: #009879;
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      border-radius: 50%;
      color: #ffffff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
      position: fixed;
      right: 20px;
      bottom: 20px;
      transition: background 0.25s;
      z-index: 1;
      outline: blue;
      border: none;
      cursor: pointer;

      &:active {
        background: #007D63;
      }
    }
    .mat-badge-content {
      top: 0;
      right: 0;
      width: 26px;
      height: 26px;
      line-height: 24px;
    }
  }
}
