<div class="container">
        <h1>Nosotros</h1>
        <div class="row">
            <div class="imgBox">
                <img src="/assets/img/undraw_programming_2svr.svg" alt="">
            </div>
            <div class="textBox">
                <h1>ElectroGuate</h1>
                <p>
                    Somos una compañía dedicada al comercio electrónico, con ansias de darte el mejor servicio y las mejores opciones de compra a un precio razonable.
                </p>
            </div>
            
        </div>
        <div class="row">
            <div class="misionBox">
                <h2>Misión</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi in consequuntur velit, voluptatem nemo vero facere aut vel doloremque debitis? Itaque ratione cupiditate magni maxime!</p>
            </div>
            <div class="visionBox">
                <h2>Visión</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio hic libero facere nisi repellat maxime modi suscipit enim earum assumenda.</p>
            </div>
            <div class="valoresBox">
                <h2>Valores</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, maxime nobis? Quibusdam quod et quam.</p>
            </div>
        </div>
        <div class="rowC">
            <h1>Lo que nos hace únicos</h1>
            <div class="caracteristicasBox">
                <div class="caracteristicaBox">
                    <div class="iconoBox">
                        <img src="/assets/img/opciones.svg" alt="">
                    </div>
                    <h2>Variedad</h2>
                    <p>Lorem ipsum dolor Nulla odit deserunt aut alias, beatae, dicta necessitatibus quia consectetur rem a deleniti
                        voluptas, inventore nemo aperiam! sit amet consectetur adipisicing elit. Quaerat harum deserunt reprehenderit?</p>
                </div>
                <div class="caracteristicaBox">
                    <div class="iconoBox">
                        <img src="/assets/img/opcion2.svg" alt="">
                    </div>
                    <h2>Variedad</h2>
                    <p>Lorem ipsum dolor  Nulla odit deserunt aut alias, beatae, dicta necessitatibus quia consectetur rem a deleniti voluptas, inventore nemo aperiam! sit amet consectetur adipisicing elit. Quaerat harum deserunt reprehenderit?</p>
                </div>
                <div class="caracteristicaBox">
                <div class="iconoBox">
                    <img src="/assets/img/variedad.png" alt="">
                </div>
                <h2>Variedad</h2>
                <p>Lorem ipsum dolor Nulla odit deserunt aut alias, beatae, dicta necessitatibus quia consectetur rem a deleniti
                    voluptas, inventore nemo aperiam! sit amet consectetur adipisicing elit. Quaerat harum deserunt reprehenderit?</p>
                </div>
                <div class="caracteristicaBox">
                    <div class="iconoBox">
                        <img src="/assets/img/variedad.png" alt="">
                    </div>
                    <h2>Variedad</h2>
                    <p>Lorem ipsum dolor Nulla odit deserunt aut alias, beatae, dicta necessitatibus quia consectetur rem a deleniti
                        voluptas, inventore nemo aperiam! sit amet consectetur adipisicing elit. Quaerat harum deserunt reprehenderit?</p>
                </div>
            </div>
        </div>
    </div>
