<div class="container">
    <h1>Nosotros</h1>
    <div class="row">
        <div class="imgBox">
            <img src="/assets/img/undraw_programming_2svr.svg" alt="" />
        </div>
        <div class="textBox">
            <h1>ElectroGuate</h1>
            <p>
                Somos una compañía dedicada al comercio electrónico, con ansias de darte
                el mejor servicio y las mejores opciones de compra a un precio
                razonable.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="misionBox">
            <h2>Misión</h2>
            <p>
                Brindar un servicio confiable y de calidad en la compra y entrega de los productos.
                Velar por la seguridad de los datos y la satisfacción de nuestros clientes.
            </p>
        </div>
        <div class="visionBox">
            <h2>Visión</h2>
            <p>
                Ser la opción de preferencia del cliente en el entorno de las plataformas de comercio electrónico.
                Ser un espacio en donde el cliente pueda descubrir todos los artículos que satisfagan sus necesidades a
                los precios más bajos
            </p>
        </div>
        <div class="valoresBox">
            <h2>Valores</h2>
            <ul>
                <li>Obsesión por el buen servicio al cliente</li>
                <li>Compromiso con la buena calidad del servicio</li>
                <li>Compromiso con la seguridad de la información</li>
            </ul>
        </div>
    </div>
    <div class="rowC">
        <h1>Lo que nos hace únicos</h1>
        <div class="caracteristicasBox">
            <div class="caracteristicaBox">
                <div class="iconoBox">
                    <img src="/assets/img/servicio.svg" alt="" />
                </div>
                <h2>Servicio</h2>
                <p>
                    Ofrecemos una plataforma intuitiva y rápida para el buen manejo de tus compras, con un sistema de
                    pago simple y confiable.
                </p>
            </div>
            <div class="caracteristicaBox">
                <div class="iconoBox">
                    <img src="/assets/img/variedad.svg" alt="" />
                </div>
                <h2>Variedad</h2>
                <p>
                    Con un inventario constantemente en aumento, te brindamos las mejores opciones en una amplia gama
                    de productos.
                </p>
            </div>
            <div class="caracteristicaBox">
                <div class="iconoBox">
                    <img src="/assets/img/seguridad.svg" alt="" />
                </div>
                <h2>Seguridad</h2>
                <p>
                    Contamos con certificados SSL en todas las partes de nuestra plataforma y buenas prácticas para el
                    manejo de tus datos, tú eres dueño de tus datos.
                </p>
            </div>
            <div class="caracteristicaBox">
                <div class="iconoBox">
                    <img src="/assets/img/precio.svg" alt="" />
                </div>
                <h2>Precios</h2>
                <p>
                    Contamos con las mejores ofertas y precios bajos en todas las épocas del año.
                </p>
            </div>
        </div>
    </div>
</div>