<div class="container">
  <div class="flex-container" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around center">
    <div class="inside-div" fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card class="child-1">1. One</mat-card>
      <mat-card class="child-2">2. Two</mat-card>
      <mat-card class="child-3">3. Three</mat-card>
    </div>
    <div class="inside-div" fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card class="child-4">4. Three</mat-card>
      <mat-card class="child-5">5. Three</mat-card>
      <mat-card class="child-6">6. Three</mat-card>
    </div>
  </div>
</div>