<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contact" fxLayout="column">
  <div class="title">
    <h3>Contáctanos</h3>
  </div>
  <div class="container" fxLayout="row" fxLayoutAlign="start center">
    <div class="message"></div>
    <div class="map" fxLayout="column" fxLayoutAlign="start center">
      <div class="location">
        <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.727327968926!2d-91.52016748457903!3d14.840553789650052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858ea2ab2c5264ed%3A0xd149e8b0a7971fdf!2sUniversidad%20Rafael%20Land%C3%ADvar!5e0!3m2!1ses-419!2sgt!4v1601928520066!5m2!1ses-419!2sgt" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
      <div class="map-information" fxLayout="column" fxLayoutAlign="center center">
        <div class="phone">
          <mat-icon>call</mat-icon><span class="aligned-with-icon">+502 78797978</span>
        </div>
        <div class="social" fxLayout="row" fxLayoutAlign="space-evenly">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>