.child-1 {
  background-color: orange;
}

.child-2 {
  background-color:yellow;
}

.child-3 {
  background-color:green;
}

.child-4 {
  background-color: red;
}

.child-5 {
  background-color:black;
}

.child-6 {
  background-color:cyan;
}
.flex-container {
  height: 200px;
}

.inside-div {
  border: 2px solid black;
  width: 100%;
}
.container {
  margin: 15px;
  height: 200px;
  border: 2px solid red;
}