.cart-view {
  height: auto;
}

.cart {
  padding: 2%;

  .cart-table {
    width: 90%;
    
    th, td {
      text-align: center;
    }

    td img {
      width: 35%;
      margin: 16px auto;
    }

    .td-size {
      width: 35%;
    }
  }
}

.payment {
  padding: 1%;

  form {
    mat-form-field {
      width: 100%;
    }
  }
}