<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Revise su orden</ng-template>
    <div class="cart" *ngIf="(products$ | async) as products" fxLayout="column" fxLayoutAlign="start center">
      <p *ngIf="products.length === 0">No hay productos en el carrito</p>
      <table *ngIf="products.length !== 0" mat-table [dataSource]="products" class="mat-elevation-z8 cart-table">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Imagen</th>
          <td mat-cell *matCellDef="let product" class="td-size">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
          </td>
        </ng-container>

        <ng-container matColumnDef="str_name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let product" class="td-size"> {{ product.str_name }}</td>
        </ng-container>

        <ng-container matColumnDef="int_price">
          <th mat-header-cell *matHeaderCellDef>Precio</th>
          <td mat-cell *matCellDef="let product"> Q. {{ product.int_price }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let product">
            <button mat-button (click)="deleteCart(product)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Información de envío</ng-template>
    <div class="payment" fxFlex="50" fxLayout="column">
      <h1>Formulario de pago</h1>
      <form action="#">
        <mat-form-field appearance="outline">
          <mat-label>Número de tarjeta</mat-label>
          <input matInput placeholder="**** **** **** ****">
          <mat-hint>Los 16 números del frente</mat-hint>
        </mat-form-field>
  
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Fecha de expiración</mat-label>
              <input matInput placeholder="MM/AA">
              <mat-hint>Ejemplo: 01/21</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>CVV</mat-label>
              <input matInput placeholder="***">
              <mat-hint>Los 3 números del dorso</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <button mat-flat-button color="primary">Procesar Pago</button>
          </div>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Información de pago</ng-template>
  </mat-step>
</mat-horizontal-stepper>