<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Revise su orden</ng-template>
    <div class="cart" *ngIf="(items$ | async) as products" fxLayout="column" fxLayoutAlign="start center">
      <p *ngIf="products.size === 0">No hay productos en el carrito</p>
      <div class="order" *ngFor="let product of products | keyvalue">
        {{ product.key.str_name }}
        
        {{ product.key.int_price | currency: 'Q' }}

        {{ product.value }}

        {{ product.key.int_price * product.value | currency: 'Q' }}

        <button mat-raised-button (click)="addItem(product.key)">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-raised-button (click)="deleteItem(product.key)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Información de envío</ng-template>
    <div class="payment" fxFlex="50" fxLayout="column">
      <h1>Formulario de pago</h1>
      <form action="#">
        <mat-form-field appearance="outline">
          <mat-label>Número de tarjeta</mat-label>
          <input matInput placeholder="**** **** **** ****">
          <mat-hint>Los 16 números del frente</mat-hint>
        </mat-form-field>
  
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Fecha de expiración</mat-label>
              <input matInput placeholder="MM/AA">
              <mat-hint>Ejemplo: 01/21</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>CVV</mat-label>
              <input matInput placeholder="***">
              <mat-hint>Los 3 números del dorso</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <button mat-flat-button color="primary">Procesar Pago</button>
          </div>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Información de pago</ng-template>
  </mat-step>
</mat-horizontal-stepper>