.cart-view {
  height: auto;
}

.cart {
  padding: 2%;
}

// PRODUCTS

.order {
  width: 70%;
  padding: 5px 0;
}

// FORMS

.payment {
  padding: 1%;

  form {
    mat-form-field {
      width: 100%;
    }
  }
}

.shipping {
  padding: 1%;

  form {
    mat-form-field {
      width: 100%;
    }
  }
}

// STEPPERS

mat-vertical-stepper {
  display: none;
}

@media (max-width: 768px) {
  mat-horizontal-stepper {
    display: none;
  }
  
  mat-vertical-stepper {
    display: block;
  }
}