<section id="nosotros">
    <div class="container">
        <div class="row">
            <div class="imgBox">
            </div>
            <div class="txtBox">
                <h1 class="text-center">NUESTRA EMPRESA</h1>
                <p>Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, esse.
                    consectetur adipisicing elit. Non, amet aperiam! Velit tempora, cumque numquam aspernatur aperiam,
                    pariatur iure voluptatum nisi non impedit dicta! Repellendus minima laborum iure. Ullam rem itaque,
                    quo officiis architecto repudiandae.</p>
            </div>
        </div>
    </div>
</section>