<button mat-raised-button routerLink="create" color="primary" class="actions-button">Crear Marca</button>
<table mat-table [dataSource]="brands" class="mat-elevation-z8 brands-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let brand"> {{brand.id}} </td>
  </ng-container>
  <ng-container matColumnDef="str_name">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let brand"> {{brand.str_name}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let product">
      <button mat-raised-button>Editar</button>
      <button mat-raised-button color="warn">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>