<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer fxLayout="row" fxLayoutAlign="space-around center">
  <div class="contact" fxLayout="column" fxLayoutAlign="center center">
    <p>Contáctanos</p>
    <div class="email">
      <mat-icon>email</mat-icon><span class="aligned-with-icon">info@eletroguate.com</span>
    </div>
    <div class="call">
      <mat-icon>call</mat-icon><span class="aligned-with-icon">+502 78797978</span>
    </div>
  </div>
  <div class="web" fxLayout="column" fxLayoutAlign="center center">
    <h3>Nuestras redes</h3>
    <div class="social-media">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-whatsapp"></i></a>
    </div>
  </div>
  <div class="about" fxLayout="column" fxLayoutAlign="center center">
    <h3>Nosotros</h3>
    <div class="mission">
      <p>Somos una organización que busca ofrecerte los mejores productos en electrodoméstica</p>
    </div>
  </div>
</footer>