<footer fxLayout="row" fxLayoutAlign="space-around center">
  <div class="contact" fxLayout="column" fxLayoutAlign="center center">
    <p>CONTÁCTANOS</p>
    <div class="email">
      <mat-icon>email</mat-icon><span class="aligned-with-icon">info@eletroguate.com</span>
    </div>
    <div class="call">
      <mat-icon>call</mat-icon><span class="aligned-with-icon">+502 78797978</span>
    </div>
  </div>
  <div class="web" fxLayout="row" fxLayoutAlign="start center">
  </div>
  <div class="about" fxLayout="row" fxLayoutAlign="start center">
  </div>
</footer>