#catalogo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  #productos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 870px) {
  #catalogo {
    transform: translateY(80px);
  }
}