<div class="wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#24fb7b" fill-opacity="1" d="M0,192L720,32L1440,192L1440,320L720,320L0,320Z"></path>
    </svg>
</div>
<section id="album">
    <div class="container text-center">
        <h2>Marcas disponibles</h2>
        <div class="row">
            <div class="pic"></div>
            <div class="pic"></div>
            <div class="pic"></div>
            <div class="pic"></div>
            <div class="pic"></div>
        </div>
    </div>
</section>