.banner {
    display: flex;
    justify-content: center;
}

.example-card {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 70vh;
    mat-card-header {
        display: flex;
        flex-direction: column;
    }
}
  
.example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}