mat-card {
  margin: 15px;
  .main {
    img {
      margin: 15px;
    }
    mat-card-title {
      margin-bottom: 25px;
    }
  }
  .secondary {
    margin-top: 25px;
    .secondary-content {
      margin-top: 25px;
    }
    img {
      margin: 25px;
    }
  }
}