<mat-card class="card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu">
  <div id="info">
    <mat-card-header>
      <mat-card-title>{{ product.str_name }}</mat-card-title>
      <mat-card-subtitle>{{ product.str_description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary">Detalles</button>
      <button mat-raised-button color="secondary">Agregar al carrito</button>
    </mat-card-actions>
  </div>
</mat-card>