<section id="categorias" class="text-center">
    <div class="container">
        <div class="row">
            <div class="cat">
                <h4>Categoría 1</h4>
            </div>
            <div class="cat">
                <h4>Categoría 2</h4>
            </div>
            <div class="cat">
                <h4>Categoría 3</h4>
            </div>
            <div class="cat">
                <h4>Categoría 4</h4>
            </div>
            <div class="cat">
                <h4>Categoría 5</h4>
            </div>
        </div>
    </div>
</section>
